<%- include('partials/header.ejs') -%>

<div class="user__header">
    <img src="/user.png" alt="User photo" width="128px" height="128px">
    <span style="font-size: 2rem;"><%= targetUser ? targetUser.name : user.name %></span>
</div>

<ul class="blogs-list">
   <% if (blogs.length > 0) { %>
    <% blogs.forEach(blog => { %>
      <li class="blog-card">
        <h4><%= blog.title %></h4>
        <p><%= blog.snippet %></p>
        <button class="btn"><a href="/blog/<%= blog._id %>">Open</a></button>
      </li>
    <% }) %>
  <% } else { %>
    <h3 style="text-align:center;">The user does not have any blogs yet :(</h3>
  <% } %>
</ul>

<%- include('partials/footer.ejs') -%>