<%- include('../partials/header') %>
<div class="blog">

    <h2 class="blog-header">
        <%= blog.title %>
    </h2>
        <a class="blog-creator" href="/user/<%= blog.createdBy %>">
            <img src="/user.png" alt="user image" height="64px" width="64px">
            <span><%= blogCreator.name %></span>
        </a>
    <main class="blog-content">
        <p>
            <%= blog.body %>
        </p>
    </main>
</div>
<%- include('../partials/footer') %>